$base-background-color: #e7e7e7;
$lang-background-color: #f9f9f9;
$regions-list-background-color: #f0f0f0;
$regions-background-color: #17206a;
$white: #ffffff;
$list-color:#585858;
$date-color: #8f8f8f;
